USE [master]
GO
/****** Object:  Database [SistemaReservasBD]    Script Date: 2/5/2026 23:09:14 ******/
CREATE DATABASE [SistemaReservasBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaReservasBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SistemaReservasBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaReservasBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SistemaReservasBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaReservasBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaReservasBD]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 2/5/2026 23:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[Id_administrador] [int] IDENTITY(1,1) NOT NULL,
	[Ci] [varchar](10) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[contrasena] [varchar](255) NOT NULL,
	[fecha_registro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_administrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alojamiento]    Script Date: 2/5/2026 23:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alojamiento](
	[Id_alojamiento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[ubicacion] [varchar](255) NOT NULL,
	[max_huespedes] [int] NOT NULL,
	[num_habitaciones] [int] NOT NULL,
	[num_banos] [int] NOT NULL,
	[Id_administrador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_alojamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Huesped]    Script Date: 2/5/2026 23:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huesped](
	[Id_huesped] [int] IDENTITY(1,1) NOT NULL,
	[Ci] [varchar](10) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[contrasena] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_huesped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 2/5/2026 23:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[fecha_salida] [date] NOT NULL,
	[numero_personas] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[Id_huesped] [int] NOT NULL,
	[Id_alojamiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrador] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Alojamiento]  WITH CHECK ADD  CONSTRAINT [FK_Alojamiento_Admin] FOREIGN KEY([Id_administrador])
REFERENCES [dbo].[Administrador] ([Id_administrador])
GO
ALTER TABLE [dbo].[Alojamiento] CHECK CONSTRAINT [FK_Alojamiento_Admin]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Alojamiento] FOREIGN KEY([Id_alojamiento])
REFERENCES [dbo].[Alojamiento] ([Id_alojamiento])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Alojamiento]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Huesped] FOREIGN KEY([Id_huesped])
REFERENCES [dbo].[Huesped] ([Id_huesped])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Huesped]
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD  CONSTRAINT [CHK_Admin_CI] CHECK  ((len([CI])=(10) AND NOT [CI] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Administrador] CHECK CONSTRAINT [CHK_Admin_CI]
GO
ALTER TABLE [dbo].[Huesped]  WITH CHECK ADD  CONSTRAINT [CHK_Huesped_CI] CHECK  ((len([CI])=(10) AND NOT [CI] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Huesped] CHECK CONSTRAINT [CHK_Huesped_CI]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_Reserva] CHECK  (([fecha_salida]>[fecha_ingreso]))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CHK_Fechas_Reserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CHK_Personas_Minimas] CHECK  (([numero_personas]>(0)))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CHK_Personas_Minimas]
GO
USE [master]
GO
